.ui-header {
  width: 100%;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  user-select: none;
  background-color: #fefefe;
  box-shadow: 0 5px 5px #4f84f770;
}

.ui-header > div {
  width: 50%;
}

.ui-header > :first-child {
  display: flex;
  justify-content: start;
}

.ui-header > :last-child {
  display: flex;
  justify-content: end;
}

.ln-container {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}